.article_item {
    float: left;
    width: rem(222);
    white-space:initial;
    margin-right: rem(10);
    
    @include media(desktop) {
        width: rem(340);
    }

    .article_photo {
        width: 100%;
        height: rem(126);
        overflow: hidden;
        position: relative;
        display: inline-block;
        border-radius: rem(10);

        @include media(desktop) {
            height: rem(180);
        }

        img {
            top: 50%;
            left: 50%;
            width: 100%;
            min-height: 100%;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }

    .article_title {
        color: $default;
        font-size:rem(18);
        margin: rem(18) 0 rem(9);
    }

    .article_description {
        width: 100%;
        height: rem(60);
        color: $default;
        font-size:rem(15.5);
        line-height: rem(20);
        font-weight: 400;
        letter-spacing: 0;
        overflow: hidden;
        display: inline-block;
    }
}

