#Header {
    width: 100%;
    display: inline-block;
    height: rem(552.5);
    margin-top: rem(63);
    background-image: url('/assets/images/banner/banner_principal.png');
    background-size: cover;
    position: relative;
    
    @include media(mobile) {
        background-position: top center;
    }
    
    @include media(desktop) {
        height: rem(615);
        margin-top: rem(70);
    }

    &:after {
        content: '';
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: rem(260);
        @include bgGradient(rgba($white, 0), $white);

        @include media(desktop) {
            height: rem(290);
        }
    }

    .header_title {
        font-size: rem(57);
        line-height: 1;
        color: $white;
        font-weight: bold;
        margin: rem(69) rem(17) 0;

        @include media(desktop) {
            font-size: rem(96);
            margin: rem(65) rem(97.5) 0;
        }
    }

    .header_strip {
        width: rem(83);
        height: 0;
        border-bottom: 2px solid $white;
        margin: rem(22.5) rem(18.5);

        @include media(desktop) {
            margin: rem(15) rem(97.5) rem(28.5);
        }
    }

    .header_text {
        color: $white;
        font-size: rem(18);
        line-height: rem(30);
        width: rem(325);
        margin-left: rem(17);
        letter-spacing: 0;

        span {
            @include media(mobile) {
                display: none;
            }
        }

        @include media(desktop) {
            width: rem(490);
            font-size: rem(17);
            line-height: rem(34);
            margin-left: rem(97.5);
        }
    }
}