.articles_list {
    width: 100%;
    transform: translateY(rem(-100));

    &:not(:last-child) {
        margin-bottom : rem(30);
    }

    .list_title {
        display: inline-block;
        font-size: rem(24);
        line-height: rem(30);
        color: $default;
        font-weight: 600;
        padding-left: rem(20);
        margin: rem(15) 0;

        @include media(desktop) {
            padding-left: rem(55);
        }
    }

    .slick-slider {
        overflow: hidden;

        .slick-list {
            width: rem(232);
            overflow: visible;
            margin-left: rem(20);

            @include media(desktop) {
                width: rem(1050);
                margin-left: rem(55);
            }
        }

        .slick-arrow {
            top: rem(40);
            z-index: 10;
            cursor: pointer;
            position: absolute;
            
            @include media(desktop) {
                top: rem(75);
            }   

            svg {
                width: rem(20);
                filter: drop-shadow( 0 rem(2) rem(5) $black);

                @include media(desktop) {
                    width: rem(48);
                    filter: drop-shadow( 0 rem(3) rem(5) rgba($black, .5));
                }                
            }

            &.slick-next {
                right: rem(20);

                @include media(desktop) {
                    right: rem(59);
                }
            }

            &.slick-prev {
                left: rem(20);                

                @include media(desktop) {
                    left: rem(59);                
                }
            }

            &.slick-disabled {
                opacity: 0;
                z-index: -10;
            }
        }
    }
}