.menu {
    position: relative;
    box-sizing: border-box;

    @include media(mobile) {
        padding-top: rem(63);
        height: 100vh;
        background-color: $white;
        top: 0;
        left: 0;
        z-index: 1;    
        width: rem(268);
        position: fixed;
        transform: translateX(-100%);
        transition: all .3s;
        
        &:after {
            content: '';
            width: 100vw;
            height: 0;
            position: absolute;
            left: 100%;
            top: 0;
            bottom: 0;
            opacity: 0;
            z-index: 5;
            background-color: rgba($black, .5);
            transition: opacity .3s .3s, height .01s .65s;
        }

        &.open {
            transform: translateX(0);
            transition: all .3s .35s;
            box-shadow: rem(2) 0 rem(5) rgba($black, .2);

            &:after {
                opacity: 1;
                height: 100vh;
                transition: height .01s , opacity .3s .15s;
            }
        }
    }

    @include media(desktop) {
        margin-left: rem(35);
        display: inline-block;
        vertical-align: middle;
    }

    .menu-wrapper {
        display: inline-block;
        
        @include media(mobile) {
            width: 100%;
            height: 100%;
            overflow: scroll;
        }
    }

    .link_list {
        @include media(mobile) {
            padding-bottom: rem(100)
        }

        li {
            margin: rem(29) rem(18) 0;
            
            @include media(desktop) {
                margin: 0 rem(20);
                display: inline-block;
            }

            a {
                font-style: normal;
                text-decoration: none;
                color: $default;
                font-size: rem(16);
                line-height: rem(20);
                font-weight: bold;                        
            }
        }
    }

    .btn_menu-points {
        color: $white;
        font-size: rem(16);
        line-height: rem(20);
        font-weight: bold;
        border: none;
        background-color: $blue;
    	font-family: $SquareSansPro;
        width: rem(230);
        height: rem(42);
        border-radius: rem(8);
        box-shadow: 0 rem(2) rem(5) rgba($black, .2);
        outline: 0;
        
        @include media(mobile) {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 10;
            margin: rem(18);
        }

        @include media(desktop) {
            width: rem(138);
            display: inline-block;
            margin-left: rem(230);
        }
    }
}