#Nav {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    position: fixed;

    .navbar {
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
        width: 100%;
        height: rem(63);
        position: absolute;    
        background-color: $white;
        box-shadow: 0 rem(2) rem(6) rgba($black, .15);

        @include media(desktop) {
            height: rem(70);
        }

        .menu_button {
            cursor: pointer;
            padding: rem(9) rem(6);
            appearance: none;
            border: none;
            background: transparent;
            outline: none;
            width: rem(30);
            height: rem(30);
            margin: rem(10) rem(15);
            vertical-align: middle;

            @include media(desktop) {
                display: none;
            }

            .menu_icon {
                float: left;
                width: rem(18);
                height: rem(12);
                position: relative;
                transform: rotate(0deg);
                transition: .5s ease-in-out;

                span {
                    position: absolute;
                    height: 2px;
                    width: rem(18);
                    background: $default;
                    border-radius: rem(3);
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;

                    &:nth-child(1) {
                        top: rem(0);
                    }
                    
                    &:nth-child(2) {
                        top: rem(6);
                    }
                    
                    &:nth-child(3) {
                        top: rem(11);
                    }
                }

                &.open{
                    span {
                        &:nth-child(1) {
                            top: rem(5);
                            -webkit-transform: rotate(135deg);
                            -moz-transform: rotate(135deg);
                            -o-transform: rotate(135deg);
                            transform: rotate(135deg);
                        }
                        
                        &:nth-child(2) {
                            opacity: 0;
                            left: rem(-20);
                        }
                        
                        &:nth-child(3) {
                            top: rem(5);
                            -webkit-transform: rotate(-135deg);
                            -moz-transform: rotate(-135deg);
                            -o-transform: rotate(-135deg);
                            transform: rotate(-135deg);
                        }
                    }
                }
            }
        }

        .logo_icon {
            width: rem(129.5);
            display: inline-block;
            margin: rem(9) 0;
            vertical-align: middle;

            @include media(desktop) {
                margin-left: rem(54);
            }

            img {
                width: 100%;
            }
        }
    }
}