#Profile {
    position: relative;

    @include media(desktop) {
        display: inline-block;
        vertical-align: middle;
    }
    
    .profile_header {
        margin: rem(15);

        @include media(desktop) {
            cursor: pointer;
            position: relative;    
            margin-left: rem(40);

            &:before {
                content: '';
                height: rem(28);
                width: 1px;
                background-color: $default;
                position: absolute;
                top: 50%;
                left: rem(-20);
                transform: translateY(-50%);
            }
        }

        .user_photo {
            width: rem(38);
            height: rem(38);
            border-radius: rem(38);
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        .profile_arrow {
            width: rem(11);
            height: rem(7);
            margin: rem(15) rem(11);
            display: inline-block;
            vertical-align: middle;
        }

        .user_name {
            display: inline-block;
            vertical-align: middle;
            line-height: rem(38);
            font-size: rem(16);
            color: $default;
            font-weight: normal;
        }
    }

    .profile_items {
        height: 0;
        transition: height .3s;
        overflow: hidden;

        @include media(desktop) {
            position: absolute;
            top: 100%;
            background-color: $white;
        }

        ul {
            width: 100%;
            display: block;

            @include media(desktop) {
                width: rem(195)
            }
            
            &.profile_wallet {
                
                @include media(mobile) {
                    padding-top: rem(28);
                    padding-bottom: rem(15);
                    border-bottom: 1px solid $default;
                }

                @include media(desktop) {
                    padding-top: rem(20);
                    padding-bottom: rem(20);
                    border-bottom: 1px solid $gray;
                }
            }

            &.profile_links {
                padding-top: rem(18.5);
                padding-bottom: rem(25);
            }            

            li {
                margin-left: rem(15);
                @include media(desktop) {
                    margin-left: rem(20);
                }
                
                &:not(:last-child) {
                    margin-bottom: rem(10);                    
                }

                a {
                    font-style: normal;
                    text-decoration: none;

                    .icon {
                        width: rem(20);
                        margin-right: rem(10);
                        text-align: center;
                        display: inline-block;

                        img {width: rem(15)}
                    }

                    span {
                        color: $default;
                        font-size: rem(18);
                        line-height: rem(22);
                        font-weight: normal;

                        @include media(desktop) {
                            font-size: rem(16);
                        }
                    }
                }
                
                &.item-carteira {
                    .icon {
                        img {
                            width: rem(17)
                        }
                    }
                }

                &.item-moeda {
                    .icon {
                        img {
                            width: rem(16)
                        }
                    }

                    span {
                        font-style: italic;
                        font-weight: bold;
                        font-size: rem(20);
                        color: $yellow;
                    }
                }

                &.item-perfil {
                    .icon {
                        img {
                            width: rem(14)
                        }
                    }
                }

                &.item-notas {
                    .icon {
                        img {
                            width: rem(13)
                        }
                    }
                }

                &.item-extratos {
                    .icon {
                        img {
                            width: rem(16)
                        }
                    }
                }

                &.item-classificacao {
                    .icon {
                        img {
                            width: rem(21)
                        }
                    }
                }

                &.item-regulamentos {
                    .icon {
                        img {
                            width: rem(13)
                        }
                    }
                }

                &.item-duvidas {
                    .icon {
                        img {
                            width: rem(16)
                        }
                    }
                }

                &.item-sair {
                    .icon {
                        img {
                            width: rem(17)
                        }
                    }
                }
            }            
        }
    }

    &.open {
        @include media(desktop) {

            &:after,
            &:before {
                content: '';
                width: 0;
                height: 0;
                border-top: none;
                position: absolute;
            }

            &:after {
                border: rem(5) solid transparent;
                border-bottom: rem(8) solid $white;
                bottom: rem(-3);
                left: rem(54);
                z-index: 5;
            }

            &:before {
                border: rem(6) solid transparent;
                border-bottom: rem(9) solid $gray;
                bottom: rem(-3);
                left: rem(53);
                z-index: 4;
            }
        }

        .profile_header {   
            .profile_arrow {
                transform: rotateX(180deg)
            }
        }

        .profile_items {
            
            @include media(mobile) {
                height: rem(370);
                border-bottom: 1px solid $default;
            }

            @include media(desktop) {
                height: rem(349);
                margin-top: rem(2);
                border: rem(1) solid $gray;
                box-shadow: 0 rem(2) rem(6) rgba($black, .15);
            }
        }
    }
}