@import "vars";
@import "colors";
@import "functions";
@import "keyframes";
@import "fonts";
@import "reset";

@import "slick";

body,
html {
	@include setRootFontSize();
	font-style: normal;
	font-family: $SquareSansPro;
}

@import 'components/App';
@import 'components/Nav';
@import 'components/Menu';
@import 'components/Profile';
@import 'components/Header';
@import 'components/List';
@import 'components/Article';


